.App {
  text-align: center;
  max-width: 75%;
  margin: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h3 {
  margin: 0;
}

h6 {
  margin: 2%;
}
